* {
    font-family: 'Arial', sans-serif;
}

body {
    background-color: rgb(255, 223, 234)
}

#view {
    width: 90%;
    margin: auto;
}

#heading {
    text-align: center;
}

#input-form {
    display: flex;
    justify-content: center;
}

#text-field {
    font-size: 40pt;
    max-width: 70%;

    border: solid;
    border-color: grey;
    border-radius: 6px;
    box-shadow: 2px 4px black;
}

#submit-button {
    font-size: 40pt;
    margin-left: 10px;

    background-color: white;
    border: solid;
    border-color: grey;
    border-radius: 6px;
    box-shadow: 2px 4px black;
}

#submit-button:hover,
#submit-button:focus {
    position: relative;
    left: 1px;
    top: 2px;

    background-color: lightblue;
    box-shadow: 1px 2px black;
}

#submit-button:active {
    position: relative;
    left: 2px;
    top: 4px;

    background-color: lightblue;
    box-shadow: none;
}

#submit-button-img {
    width: 40px;
    height: 40px;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 3px;
    left: 0px;
    margin: 0px;
    padding: 0px;

    text-align: center;
}

@media only screen and (max-width: 750px) {
    #text-field {
        font-size: 20pt;
    }

    #submit-button {
        font-size: 20pt;
    }

    #submit-button-img {
        width: 20px;
        height: 20px;
    }
}
