* {
    font-family: 'Quicksand', sans-serif;
}

#view {
    width: 650px;
    margin: auto;
}

#heading {
    text-align: center;
}

#input-wrapper {
    text-align: center;
}

#text-field {
    font-size: 40pt;
    border: solid;
    border-color: grey;
    border-radius: 6px;
    box-shadow: 2px 4px black;
}

#submit-button {
    background-color: transparent;
    font-size: 40pt;
    border: solid;
    border-color: grey;
    border-radius: 6px;
    box-shadow: 2px 4px black;
}

#submit-button:hover,
#submit-button:active,
#submit-button:focus {
    background-color: lightblue;
    position: relative;
    left: 1px;
    top: 2px;
    box-shadow: 1px 2px black;
}

#submit-button-img {
    height: 40px;
}

#footer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 3px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 750px) {
    #view {
        width: 335px;
    }

    #text-field {
        font-size: 20pt;
    }

    #submit-button {
        font-size: 20pt;
    }

    #submit-button-img {
        height: 20px;
    }
}

@media only screen and (max-width: 400px) {
    #view {
        width: 200px;
    }

    #heading {
        text-align: left;
    }

    #text-field {
        font-size: 10pt;
    }

    #submit-button {
        font-size: 10pt;
    }

    #submit-button-img {
        height: 10px;
    }
}
